{% extends 'view.html'%}
{% block title %}View {{title}} {% endblock %}

{% block content %}
<div class="r">
<tr><th><h2>{{item.full_name}}</h2></th></tr>
              <tr><td><h3 >{{item.code}}</h3></td></tr>
              <tr><td><h3>{{item.date_of_birth}}</h3></td></tr>
              <tr><td><h3>{{item.sex}}</h3></td></tr>
              <tr><td><h3>{{item.education}}</h3></td></tr>
              <tr><td><h3>{{item.category}}</h3></td></tr>
</div>
{% endblock %}

    {% block url %}
<p><button class = 'big'><a class="nav-link" href="{{ item.code }}/update">Edit</a></button></p>
<p><button class = 'big'><a class="nav-link" href="{{ item.code }}/delete">Delete</a></button></p>
<p><button class = 'big'><a class="nav-link" href="{%url 'home_t'%}">Back</a></button></p>
    {% endblock %}